.stApp {
    background-image: url("https://miro.medium.com/v2/resize:fit:1400/format:webp/1*qR08Jxq0IHdvFtBsUhCe3Q.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.movie-card {
    border: 1px solid #333;
    border-radius: 15px;
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    height: 350px;
    width: 150px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
    align-items: center;
}

.movie-card img {
    width: 100%;
    height: 75%;
    object-fit: contain;
    border-radius: 10px;
}

.movie-title {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

.popup img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 10px;
}

.popup .close-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup:target {
    display: block;
}

.view-button {
    margin-left: 25%;
    padding: 5px 10px;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
